[Unit]
Description=Defender Watchdog Service
After=network.target mysql.service

[Service]
User=defender
WorkingDirectory=/home/defender/app
ExecStart=/usr/bin/python3 watchdog.py
Restart=always

[Install]
WantedBy=multi-user.target
